@model iDealSampleCore.Models.PageRequestTransactionStatusModel

@{
    ViewData["Title"] = "PageRequestTransactionStatus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>PageRequestTransactionStatus</h1>

<div>
    <h4>PageRequestTransactionStatusModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MerchantId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MerchantId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcquirerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcquirerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConsumerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConsumerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConsumerIban)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConsumerIban)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConsumerBic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConsumerBic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Currency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SignatureValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SignatureValue)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to Home</a>
</div>
