@model iDealSampleCore.Models.PageRequestTransactionModel

@{
  ViewData["Title"] = "PageRequestTransaction";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="PageRequestTransaction">
  <div style="font: 12pt arial;border-style: Solid;width: 800px;font-weight: normal;">
    Functie-parameters:<br />
    <dl class="row" style="margin-bottom: 0; margin-left: 0; width: 900px;">
      <dt class="col-sm-2" style="display:inline-block;font-weight: normal;width:151px; padding: 0;">
        <label asp-for="IssuerId"></label>
      </dt>
      <dd class="col-sm-10" style="display: inline-block; margin-bottom: 0; width: 351px; border-width: 0; border-style: none">
        <input asp-for="IssuerId" style="border-width: 1px; width: 351px;display: inline-block; margin-bottom: 0;" />
        <span asp-validation-for="IssuerId" style="color: red; display: inline;"></span>
      </dd>
      <dt class="col-sm-2" style="display:inline-block;font-weight: normal;width:151px;padding: 0;">
        <label asp-for="PurchaseId"></label>
      </dt>
      <dd class="col-sm-10" style="display: inline-block; margin-bottom: 0; width: 351px; border-width: 0; border-style: none">
        <input asp-for="PurchaseId" style="border-width: 1px; width: 351px;display: inline-block; margin-bottom: 0;" />
        <span asp-validation-for="PurchaseId" style="color: red; display: inline;"></span>
      </dd>
      <dt class="col-sm-2" style="display:inline-block;font-weight: normal;width:151px;padding: 0;">
        <label asp-for="Amount"></label>
      </dt>
      <dd class="col-sm-10" style="display: inline-block; margin-bottom: 0; width: 351px; border-width: 0; border-style: none">
        <input asp-for="Amount" style="border-width: 1px; width: 351px;display: inline-block; margin-bottom: 0;" />
        <span asp-validation-for="Amount" style="color: red; display: inline;"></span>
      </dd>
      <dt class="col-sm-2" style="display:inline-block;font-weight: normal;width:151px;padding: 0;">
        <label asp-for="Description"></label>
      </dt>
      <dd class="col-sm-10" style="display: inline-block; margin-bottom: 0; width: 351px; border-width: 0; border-style: none">
        <input asp-for="Description" style="border-width: 1px; width: 351px;display: inline-block; margin-bottom: 0;" />
        <span asp-validation-for="Description" style="color: red; display: inline;"></span>
      </dd>
      <dt class="col-sm-2" style="display:inline-block;font-weight: normal;width:151px;padding: 0;">
        <label asp-for="EntranceCode"></label>
      </dt>
      <dd class="col-sm-10" style="display: inline-block; margin-bottom: 0; width: 351px; border-width: 0; border-style: none">
        <input asp-for="EntranceCode" style="border-width: 1px; width: 351px;display: inline-block; margin-bottom: 0;" />
        <span asp-validation-for="EntranceCode" style="color: red; display: inline;"></span>
      </dd>
      <dt class="col-sm-2" style="display:inline-block;font-weight: normal;width:151px;padding: 0;">
        <label asp-for="ExpirationPeriod"></label>
      </dt>
      <dd class="col-sm-10" style="display: inline-block; margin-bottom: 0; width: 351px; border-width: 0; border-style: none">
        <input asp-for="ExpirationPeriod" style="border-width: 1px; width: 351px;display: inline-block; margin-bottom: 0;" />
        <span asp-validation-for="ExpirationPeriod" style="color: red; display: inline;"></span>
      </dd>
      <dt class="col-sm-2" style="display:inline-block;font-weight: normal;width:151px; padding: 0;">
        <label asp-for="MerchantUrl"></label>
      </dt>
      <dd class="col-sm-10" style="display: inline-block; margin-bottom: 0; width: 351px; border-width: 0; border-style: none">
        <input asp-for="MerchantUrl" style="border-width: 1px; width: 351px;display: inline-block; margin-bottom: 0;; font-size: 13px" />
        <span asp-validation-for="MerchantUrl" style="color: red; display: inline;"></span>
      </dd>
    </dl>
  </div>
  &nbsp;
  <div style="font: 12pt arial; border-style: Solid; width: 800px; font-weight: normal;">
    Vanuit configuratie:<br />
    <dl class="row" style="margin-bottom: 0; margin-left: 0; width: 900px; ">
      <dt class="col-sm-2" style="display:inline-block;font-weight: normal;width:151px; padding: 0;">
        @Html.DisplayNameFor(model => model.MerchantId)
      </dt>
      <dd class="col-sm-10" style="display: inline-block; margin-bottom: 0; width: 351px; border-width: 0; border-style: none">
        @Html.DisplayFor(model => model.MerchantId, new { @style = "width:351px;" })
      </dd>
      <dt class="col-sm-2" style="display:inline-block;font-weight: normal;width:151px; padding: 0;">
        @Html.DisplayNameFor(model => model.SubId)
      </dt>
      <dd class="col-sm-10" style="display: inline-block; margin-bottom: 0; width: 351px; border-width: 0; border-style: none">
        @Html.DisplayFor(model => model.SubId, new { @style = "width:351px;" })
      </dd>
    </dl>
  </div>
  &nbsp;
  <div style="font: 12pt arial; border-style: Solid; width: 800px; font-weight: normal; horiz-align: center; text-align: center; vertical-align: center;">
    <button asp-area="" asp-controller="Home" asp-action="PageRequestTransaction" style="display: inline-block; font: 10pt arial; font-weight: normal; horiz-align: center; text-align: center; vertical-align: center; padding: .075rem .75rem; margin: 0">Request Transaction</button>
  </div>
  &nbsp;
  <div style="font: 12pt arial;border-style: Solid;width: 800px;font-weight: normal;">
    Resultaat:<br />
    <dl class="row" style="margin-bottom: 0; margin-left: 0; width: 900px;">
      <dt class="col-sm-2" style="display:inline-block;font-weight: normal;width:151px; padding: 0;">
        @Html.DisplayNameFor(model => model.AcquirerId)
      </dt>
      <dd class="col-sm-10" style="display: inline-block; margin-bottom: 0; width: 351px; border-width: 0; border-style: none">
        @Html.DisplayFor(model => model.AcquirerId, new { @style = "width:351px;" })
      </dd>
      <dt class="col-sm-2" style="display:inline-block;font-weight: normal;width:151px; padding: 0;">
        @Html.DisplayNameFor(model => model.TransactionId)
      </dt>
      <dd class="col-sm-10" style="display: inline-block; margin-bottom: 0; width: 351px; border-width: 0; border-style: none">
        @Html.DisplayFor(model => model.TransactionId, new { @style = "width:351px;" })
      </dd>
      <dt class="col-sm-2" style="display:inline-block;font-weight: normal;width:151px; padding: 0;">
        @Html.DisplayNameFor(model => model.IssuerAuthenticationUrl)
      </dt>
      <dd class="col-sm-10" style="display: inline-block; margin-bottom: 0; width: 351px; border-width: 0; border-style: none">
        <div style="border: none; border-width: 0; border-style: none; width: 351px">
          @Html.DisplayFor(model => model.IssuerAuthenticationUrl, new { @style = "width:351px;display: inline-block; margin-bottom: 0; word-wrap: normal; word-break: break-all;" })
        </div>
      </dd>
    </dl>
  </div>
  &nbsp;
</form>
<div style="font: 12pt arial; border-style: Solid; width: 800px; font-weight: normal; vert-align: middle; horiz-align: center; text-align: center;">
  @if (Model.IssuerAuthenticationValid)
  {
    <a href='@Model.IssuerAuthenticationUrl' style="display: inline-block; border-width: 1px; font: 10pt arial; font-weight: normal; horiz-align: center; text-align: center; vertical-align: center; padding: .075rem .75rem;">
      <button style="display: inline-block; border-width: 1px; font: 10pt arial; font-weight: normal; horiz-align: center; text-align: center; vertical-align: center; padding: .075rem .75rem;">Issuer Authentication</button>
    </a>
  }
  else
  {
    <button disabled style="display: inline-block; font: 10pt arial; font-weight: normal; horiz-align: center; text-align: center; vertical-align: center; padding: .075rem .75rem; margin: 0">Issuer Authentication</button>
  }
</div>

<div>
  <a asp-action="Index">Back to Home</a>
</div>

@section Scripts {
    @{
  await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}

